<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eldis_plugin_fms.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <eldis_plugin_fms.My.MySettings>
            <setting name="mysqlserver" serializeAs="String">
                <value>mysql-mariadb-5-101.zap-hosting.com</value>
            </setting>
            <setting name="mysqluser" serializeAs="String">
                <value>zap349503-1</value>
            </setting>
            <setting name="mysqlpassword" serializeAs="String">
                <value>8jJxJJ5dUXncgVKH</value>
            </setting>
            <setting name="mysqldatabase" serializeAs="String">
                <value>zap349503-1</value>
            </setting>
            <setting name="currentVEH" serializeAs="String">
                <value />
            </setting>
        </eldis_plugin_fms.My.MySettings>
    </userSettings>
</configuration>